@use "../helpers/functions" as *;
:root {
  // Colors ------------------------------------
  --background: #fafafa;
  --White: #ffffff;
  --Grey-400: #6a7178;
  --Grey-500: #4d4f62;
  --Red: #ea5454;
  --Cyan: #44d3d2;
  --Blue: #549ef2;
  --Orange: #fcae4a;
}
