@use "./functions" as *;
@use "./variables" as *;

@use "sass:map";

// ! BREAKPOINTS -----------------------------------
$breakpoints: (
  "md": rem(768),
  "lg": rem(1280),
  "xl": rem(1440),
);

@mixin breakpoint($size) {
  @media (width >= map.get($breakpoints, $size)) {
    @content;
  }
}

// ! FONTS ---------------------------------------------
@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
  $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
  $calc-value: unquote(
    "#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }"
  );

  font-size: $min-value; // Fallback for older browsers
  font-size: clamp(
    #{if($min-value > $max-value, $max-value, $min-value)},
    #{$calc-value},
    #{if($min-value > $max-value, $min-value, $max-value)}
  );
}

@mixin text-preset-1 {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 140%;
  letter-spacing: rem(0.25);
  @include fluid-type(rem(375), rem(768), rem(24), rem(36));
}
@mixin text-preset-2 {
  font-family: "Poppins";
  font-weight: 200;
  line-height: 140%;
  letter-spacing: rem(0.25);
  @include fluid-type(rem(375), rem(768), rem(24), rem(36));
}
@mixin text-preset-3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: rem(20);
  line-height: 135%;
}
@mixin text-preset-4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: rem(15);
  line-height: 140%;
}
@mixin text-preset-5 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: rem(13);
  line-height: 160%;
}

// ! style ---------------------------------------------
@mixin dropshadow {
  box-shadow: 0 rem(15) rem(30) rem(-11) rgba(131, 166, 210, 0.5);
}
