$clr-White: var(--White);
$clr-Grey-400: var(--Grey-400);
$clr-Grey-500: var(--Grey-500);
$clr-Red: var(--Red);
$clr-Cyan: var(--Cyan);
$clr-Blue: var(--Blue);
$clr-Orange: var(--Orange);

$spacing-500: var(--500);
$spacing-400: var(--400);
$spacing-300: var(--300);
$spacing-200: var(--200);
$spacing-100: var(--100);
