@use "./functions" as *;
$clr-bg: var(--background);
$clr-White: var(--White);
$clr-Grey-400: var(--Grey-400);
$clr-Grey-500: var(--Grey-500);
$clr-Red: var(--Red);
$clr-Cyan: var(--Cyan);
$clr-Blue: var(--Blue);
$clr-Orange: var(--Orange);

// Font Sizes ------------------------------------
$spacing-500: rem(40);
$spacing-400: rem(32);
$spacing-300: rem(24);
$spacing-200: rem(16);
$spacing-100: rem(8);
